    <section class="success" id="about">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="intro-text">
                        <span class="skills">Postdoctoral Research Scientist</span>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-sm-3">
                    <img src="img/profile.png" alt="portrait" class="img-responsive img-rounded">
                </div>
                <div class="col-sm-8 text-left">
                <p>I am a Postdoctoral Research Scientist at the Johns Hopkins University. I obtained my Ph.D degree in Computer Science from Nanyang Technological University, Singapore. I have previously worked as a Postdoctoral Research Scientist at the University of California, Los Angeles. I was also a visiting researcher at the National University of Singapore.</p>

<p>My mission is to "Solve Intelligence". I am currently focussing on the important component of representational learning. To this end, I build deep networks to extract knowledge from the rich, but challenging, data source of images.</p>
	    </div>
            </div>
        </div>
    </header>
    </section>
